* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: #E1EBF3;
    overflow-x: hidden;
}


#navbar {
    background-color: white !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    max-width: 100%;
}

.hero-image {
    background-image: url(../images/hero-image.webp); 
    background-size: cover;
    background-position: center center;
    height: 70vh; /* Full höjd på skärmen */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.7);
    font-size:larger;
    padding: 20px;
    max-width: 1000px;
    color:rgba(50,50,50,50);
    border-radius: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.rounded-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

.welcome {
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-top: 25px;
}

.about {
    display: flex;
    justify-content: center;
    background-color: #E1EBF3;
    max-width: 100%;
}

.about-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.about-text {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.about-text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.service-container h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 60px;
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05) translateY(-10px);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.card h5 {
    padding: 10px;
}

.card-img-top {
    background-size: cover;
    background-position: center;
}

#modalDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
}

#modalDescription ul {
    margin-top: 10px; /* Lägg till lite avstånd före punktlistan */
    list-style-type: disc; /* Gör punktlistan tydlig */
    padding-left: 25px; /* Lägg till indrag för listan */
}

.btn {
    background-color: rgba(50,50,50,50);
    border-color: rgba(50,50,50,50);
    color: white;
}

.btn:hover {
    background-color: white; 
    color: rgba(50,50,50,50); 
    border-color: white;
    text-decoration: none;
  }

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 60px !important;
}

.map {
    display: flex;
    justify-content: center;
    margin: 25px;
    width: 100%;
}

.map iframe {
    width: 100%;
    max-width: 600px;
    border-radius: 0.25rem; 
}

.address {
    padding: 5px;
    max-width: 600px;
}

.address p {
    font-size: 1.1rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.address i {
    margin-right: 10px;
    color: #333; /* Mörkgrå färg för ikoner */
}

.address a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.address a:hover {
    color: #007bff; /* Ändrar färg när man hovrar över länken */
    text-decoration: underline;
}

footer {
    max-width: 100%;
}


@media (max-width: 768px) {
    .rounded-image {
        width: 250px;
        height: 250px;
    }
    .about-text h2 {
        margin-top: 0 !important;
    }
}

@media (max-width: 992px) {
    .about-container {
        display: flex;
        justify-content: center;
    }
}
